<div>
  <div>
    <img src="{{ user.photo }}" alt="{{ user.name }}" />
  </div>
  <div>
    <h1>nom : {{ user.name }}</h1>
    <h1>prénom : {{ user.firstName }}</h1>
    <p>{{ user.quote }}</p>
    <div [hidden]="user.isMajor">
      <p>{{ user.age }}</p>
    </div>
    <div>
      <label for="quote">insérer votre citation : </label>
      <input type="text" id="quote" [(ngModel)]="user.quote" />
    </div>
  </div>
  <div>
    <button (click)="hideAge()">Afficher/Masquer mon age</button>
  </div>
</div>
